<a href="https://colab.research.google.com/github/priyatanwar018/python_batch_A1/blob/main/PythonSession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Operators in Python
# (1). Addition(+) ===> 5+2 = 7
# (2). Subtraction(-) ===> 4-2 = 2
# (3). Multiplication(*) ===> 3*7 = 21
# (4). Division(/) ===> 5/2 = 2.5
# (5). Floor Division(//) ===> Truncates the decimal part from quotient ===> 5//2 ==> 2
# (6). Module(%) ===> For Remainder Calculation ===> 25%10 = 5(Remainder)
# (7). Greater than (>) ====> 5>2
# (8). Less than (<) ===> 3<8
# (9). Equal to (=) ===> for values Assignment ===> a = 5 , b = 'sam'
# (10).Equal Equal to(==) ==> For values comparison ===> 'a'=='b' , 4==5
# (11). Not Equal to(!=) ===> 4!=5
# (12). Greter than or Equal to(>=) ===> 5>=4  , 4>=4
# (13). Less than or Equal to(<=) ===> 4<=4 , 5<=7

In [ ]:
5//2

2

In [ ]:
# Conditional Selection in Python
# if
# elif
# else

In [ ]:
a = input("Enter your name:")
if(a == "sam"):
  print("yes")
elif(a == "Rahul"):
  print("No")
elif(a =="Jay"):
  print("ok")
else:
  print("Try Again...")

Enter your name:sam
yes

In [ ]:
a = int(input("Enter your age:"))
if(0<=a<=20):
  print("child")
elif(21<=a<=50):
  print("young")
elif(51<=a<=90):
  print("old")
else:
  print("Enter your valid age.....")
#### user ==> course ===> select ===> python ==> fees , duration , java ===> fees , duration  ===> others ===> please select a valid course

Enter your age:200
Enter your valid age.....

In [11]:
subject = input("Enter your subject: ")
if (subject == "Python"):
  print("Fees: Rs 20000")
  print("Duration: 6 Months")
elif (subject == "Java"):
  print("Fees: Rs 15000")
  print("Duration: 4 Months")
else:
        print("Please select a valid course")

Enter your subject: Python
Fees: Rs 20000
Duration: 6 Months

In [ ]:
# Loop in Python

# Index = 0 , Length = 1

In [ ]:
# (1). For loop ==> starting_value included and last_value excluded.
# syntax : for i in range(start_value , last_value , step_value):print(i)
# method - 1
for i in range(0,9,3):
  print(i)

0
3
6

In [ ]:
# method - 2
a = "sam"
for b in a :
  print(b)

s
a
m

In [ ]:
# method - 2
a = "sam"
for i in a :
  print(i , end = " ")

s a m

In [ ]:
# (2). while loop

# (a). Initialization
# (b). Condition
# (c). Increment or Decrement

# syntax:
# while(condition):
  # condition

In [ ]:
# Q.1 Write a program to print numbers from first number to last number given by the user.
i = int(input("Enter first  number:"))  ### Initialization
n = int(input("Enter last number:"))
p = int(input("Enter step number:"))

while(i<=n):   ### Condition
  print(i)
  i = i + p    ### Increment

Enter first  number:1
Enter last number:20
Enter step number:6
1
7
13
19

In [ ]:
# step-1 (i=1 , n = 3)
while(1<=3):
  print(1)
# i = 1+1 = 2
# step-2 (i = 2 ,n = 3)
while(2<=3):
  print(2)
  # i= 2 + 1 = 3
# step-3 (i = 3 , n = 3)
while(3<=3):
  print(3)
  # i = 3 + 1 = 4
# step-4 (i = 4 , n = 3)
while(4<=3):
  break
# Final Output ===> 1,2,3

In [ ]:
# Q.2 Write a program to can add given numbers.
# i  =1
# n = 3
# output ===> 1+2+3 = 6

# Q.3 Write a program to add numbers.
# i = 1234
# output ===> 1+2+3+4 = 10

# Q.4 Write a program which can add even numbers and odd numbers separately.
# i = 1234
# output ===>
# even = 2+4 = 6
# odd = 1+3 = 4

In [12]:
# Q.2
num1 = int(input("Enter first number: "))
num2 = int(input("Enter last number: "))
sum = 0
if (num1>num2):
  for i in range(num2, num1+1):
    sum += i
  print(sum)
else:
  for i in range(num1, num2+1):
    sum += i
  print(sum)

Enter first number: 1
Enter last number: 3
6

In [13]:
# Q.3
i = 1234
sum = 0
while(i>0):
  rem = i % 10
  sum += rem
  i //= 10
print(sum)

10

In [2]:
# Q. 4
i = 1234
even_sum = 0
odd_sum = 0
while(i>0):
  rem = i % 10
  if (rem%2==0):
    even_sum += rem
  else:
    odd_sum += rem
  i //= 10
print(f"Even Sum: {even_sum}")
print(f"Odd Sum: {odd_sum}")

Even Sum: 6
Odd Sum: 4