<a href="https://colab.research.google.com/github/priyatanwar018/python_batch_A1/blob/main/PythonSession1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Introduction to Python ===>
# Python is a high-level , general purpose interpreted programming language which was invented in 1991
# by Guido Van Rossoum .

# (1). Data Science ===> Data Enginner ===> Data Analyst ==> Machine Learning Engineer .
# (2). Web Development===> (DJANGO , FLASK) Framework
# (3). Cyber-Security ===> secure ports add  .

In [ ]:
# Fundamentals of Python
# (1). Variable
# (2). Data type
# (3). print() & input()

# (1). Variable ===> This is a container in which we can store or assign our values .
a = 56
b = "sam"
c = 67.89        ### here a,b,c = variables .

# (2). Data types ===>
# (a). Int  ====> All positive or negative values . Ex . 34 , 67 , -34 , -12
# (b). Float ===> All decimal values . Ex. 3.45 , 0.42
# (c). String ===> 'single_quotes' , "double_quotes" , '''triple_quotes'''
# (d). Boolean ===> TRUE , FALSE

# type() ===> using type() , we can check data tpye of elements .

a = 56
print(type(a))
b = 23.89
print(type(b))
c = "sam"
print(type(c))
d = 5>4
print(type(d))
print(d)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
True

In [ ]:
# Installation ===>Google ===> Anaconda download for windows ===> download .

In [ ]:
# input() ====> This is pre-defined function of python and it will ask query from
# users and by-default it's output will be in string format .
a = '12'
b = '34'
c = a + b
print(c)

1234

In [ ]:
a = 12
b = 34
c = a + b
print(c)

46

In [ ]:
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
print(c)

Enter first number:12
Enter second number:34
1234

In [ ]:
# type-casting ===> This will convert one data type to another data type.
a = '56'
type(a)
b = int(a)
type(b)
b
c = float(b)
type(c)

float

In [ ]:
a = int(input("Enter first Number:"))
print(a)
b = int(input("Enter second Number:"))
print(b)
c = a + b
print(c)

Enter first Number:12
12
Enter second Number:34
34
46

In [ ]:
# print() ==> This is also pre-defined function of python and it will execute our query on terminal.

In [ ]:
a = '56'
print(a)

56