<a href="https://colab.research.google.com/github/priyatanwar018/python_batch_A1/blob/main/PythonSession5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Strings in Python ===>
# Identification = ' ', " ", '''  '''
# Immutable data type ===> We cannot update or change at runtime
# Indexing start from 0 and length start form 1

In [3]:
a = "sam"
print(a)
print(type(a))

sam
<class 'str'>

# Creating a string

In [1]:
# Single line strings
a = 'Hello, World'
b = "Hello, World"

# Multiline strings
c ='''This is a
multiline string'''

print(a)
print(b)
print(c)

Hello, World
Hello, World
This is a
multiline string

# Indexing

In [4]:
# Accessing the elements

a ="sam"
print(a[0])
print(a[1])
print(a[2])

s
a
m

In [6]:
my_string = "Python"

print(my_string[0])
print(my_string[1])
print(my_string[-1])
print(my_string[-2])

P
y
n
o

# String Slicing

In [ ]:
# Slicing allows you to extract a substring from a string. The syntax for slicing is [start:stop:step] where:
# start: starting index(inclusive)
# stop: ending index(excluded)
# step: step value

In [8]:
a = 'sam kumar'
a[0:5]

'sam k'

In [9]:
my_string = "Pyhton Programming"
print(my_string[0:6])
print(my_string[7:])
print(my_string[:6])
print(my_string[::2])
print(my_string[::-1])

Pyhton
Programming
Pyhton
Pho rgamn
gnimmargorP nothyP

In [13]:
# String concatenation and repeatation
# You can concatenate (join) strings using the + operator and repeat them using * operator
string1 = "Hello"
string2 = "World"

concatenated = string1 + " " + string2
repeated = string1 * 3

print(concatenated)
print(repeated)

Hello World
HelloHelloHello

In [14]:
# Checking for substrings
# You can check if a substring exists in a string using the in operator

my_string = "Python Programming"

print("Python" in my_string)
print("Java" in my_string)

True
False

# String Methods

In [15]:
# Python provides many built-in string methods to manipulate strings
# library ===> modules ===>functions
# variable.function()

In [16]:
# lower() and upper(): convert the string to lowercase or uppercase
text = "Hello"
print(text.lower())
print(text.upper())

hello
HELLO

In [17]:
# strip(): removes whitespace from both ends of a string
text = "  hello World   "
print(text.strip())

hello World

In [21]:
text.index("h")

2

In [22]:
# replace(): Replaces a substring with another string
text = "I Love Python"
print(text.replace("Python", "Coding"))

I Love Coding

In [23]:
# split(): Spliots a string into a list
text = "apple,banana, cherry"
print(text.split(","))

['apple', 'banana', ' cherry']

In [24]:
# .join(): Joins elements of a list into a single string
fruits = ['apple', 'banana','cherry']
print(",".join(fruits))

apple,banana,cherry

# String Formatting

In [28]:
# using f strings

name = "sam"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is sam and I am 25 years old

In [32]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("My name is {} and I am {} years old" .format(name,age))

Enter your name: Raj
Enter your age: 25
My name is Raj and I am 25 years old

# Escaping special characters

In [ ]:
# If you need to include special characters like quotes inside a string, use the backslash(\)

In [36]:
quote = 'She said, "Hello!" '
escaped_quote = "She said, \"Hello!\""
print(quote)
print(escaped_quote)

She said, "Hello!"
She said, "Hello!"

# Multiline strings with triple quotes

In [ ]:
# commnets ===>
# inline ===> single statement
# multiline ===> comment spread across multiple lines
# docstring ===> '''comments inside triple quotes''

In [38]:
# You can use triple quotes for multiline strings

multi_line = '''This is a string
that spans across multiple lines'''
print(multi_line)

This is a string
that spans across multiple lines

# String Length

In [39]:
# To get the length of a string, use the len() function

my_string = "Python"
len(my_string)

6

In [40]:
# capitalize(): capitalize the first letter of the string
text = "hello"
text.capitalize()

'Hello'

In [42]:
# isalnum(): Checks for alphannumeric characters in a value
text = "hello123"
text.isalnum()

True

In [44]:
# is digit(): checks for digits in a value
text = "123"
text.isdigit()

True

In [45]:
# Ques 1 Given a string s = "hello", how would you reverse it using slicing?

s = 'hello'
reversed = s[::-1]
print(reversed)

olleh

In [46]:
# Ques 2 Given the string s = "programming", how would you extract the substring "gram"?

s = "programming"
substring = s[3:7]
print(substring)

gram

In [47]:
# Ques 3 How would you count how many times the letter 'a' appears in the string s = "banana"?

s = "banana"
count = s.count('a')
print(count)

3

In [49]:
# Ques 4 Convert the string s = "hello world" to all uppercase letters.

s = "hello world"
s.upper()

'HELLO WORLD'

In [50]:
# Ques 5 Check whether the string s = "hello world" starts with "hello".

s = "hello world"
s.startswith("hello")

True

In [51]:
# Ques 6 How would find the first occurrence of the letter 'o' in the string s = "hello world"?

s = "hello world"
s.find("o")

4

In [52]:
# Ques 7 Split the string s = "apple,banana,cherry" into a list of individual fruits.
s = "apple,banana,cherry"
fruits = s.split(",")
print(fruits)

['apple', 'banana', 'cherry']

In [53]:
# Ques 8 Given the string s = "abc123", how would you check if the contains only letters and numbers?

s = "abc123"
s.isalnum()

True

In [54]:
# Ques 9 How would remove all the leading and trailing whitespaces from the string s = "   hello   "?

s = "  hello  "
s.strip()

'hello'

In [55]:
# Ques 10 Join the list ["Python","is","fun"] into a single string with spaces separating the words.

my_list = ["Python","is","fun"]
joined_string = " ".join(my_list)
print(joined_string)

Python is fun