<a href="https://colab.research.google.com/github/priyatanwar018/python_batch_A1/blob/main/PythonSession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List ===>
# (1). This is a container in which we can store elements .
# (2). Mutable data type ===> we can change or update our values at a run time .
# (3). Indexing start from 0 and length start from 1 .
# (4). Identification = []

In [ ]:
a = ['sam' , 67 , 'Raj' , 89.33]
type(a)

list

In [ ]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
67
Raj
89.33

In [ ]:
# slicing in list
a = ['sam' , 67 , 'Raj' , 89.33]
print(a[1:3])
print(a[1:])
print(a[:-1])
print(a[:])

[67, 'Raj']
[67, 'Raj', 89.33]
['sam', 67, 'Raj']
['sam', 67, 'Raj', 89.33]

In [ ]:
a = ['sam' , 67 , 'Raj' , 89.33]
print(a)
a[1] = 50
print(a)

['sam', 67, 'Raj', 89.33]
['sam', 50, 'Raj', 89.33]

In [ ]:
# loop in list
a = ['sam' , 67 , 'Raj' , 89.33]
for i in range(len(a)):
    print(a[i])

sam
67
Raj
89.33

In [ ]:
a = ['sam' , 67 , 'Raj' , 89.33]
for i in range(len(a)):
    print(a[i] , end = ", ")

sam, 67, Raj, 89.33,

In [ ]:
a = ['sam' , 67 , 'Raj' , 89.33]
a.index(67)      # it will return index of the item

1

In [ ]:
a.append('Raju')    # it will add element at the last index of the list
a

['sam', 67, 'Raj', 89.33, 'Raju']

In [ ]:
a.insert(1 , "Preeti")      # it will add element according to our index value
a

['sam', 'Preeti', 67, 'Raj', 89.33, 'Raju']

In [ ]:
a.pop()    # it will remove last index element .
a

['sam', 'Preeti', 67, 'Raj', 89.33]

In [ ]:
a.pop()
a

['sam', 'Preeti', 67, 'Raj']

In [ ]:
a.remove('Preeti')     # it will remove object in the list .
a

['sam', 67, 'Raj']

In [ ]:
a = [1,2,3,4]
max(a)      # it will return maximum value in a list

4

In [ ]:
min(a)   # it will return minimum value in a list .

1

In [ ]:
a = [1,2,1,1,1,1,1,1,4,5]
a.count(1)   # it will check frequency of element .

7

# How can we create a user defined List ?

In [ ]:
a= []
size = int(input("Enter size:"))
for i in range(size):
    val = input("Enter item:")
    a.append(val)
print(a)

Enter size:2
Enter item:dsfsdg
Enter item:567
['dsfsdg', '567']

In [ ]:
a= []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val)
print(a)

Enter size:2
Enter item:45
Enter item:7888
[45, 7888]

In [ ]:
# Q.1
a = [34,1,78,45,900,3]
max = a[0]
for i in range(len(a)):
    if(a[i]>max):
        max = a[i]
print(max)

900

In [ ]:
a= []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val)
print(a)
max = a[0]
for i in range(len(a)):
    if(a[i]>max):
        max = a[i]
print(max)

Enter size:4
Enter item:12
Enter item:78
Enter item:432222
Enter item:90
[12, 78, 432222, 90]
432222

In [ ]:
# Tuple
# (1). Identification = ()
# (2). Immutable data type
# (3). Indexing start from 0 and length start from 1 .

In [ ]:
a = ('sam' , 67 , 3444 , 'raj')
type(a)

tuple

In [ ]:
# a[1] = 800

In [ ]:
a = ('sam' , 67 , 3444 , 'raj')
# change
a = ('sam' , 600 , 3444 , 'raj')

In [ ]:
a = ('sam' , 67 , 3444 , 'raj')
# print(type(a))
print(a)
b = list(a)
b[1] = 600
print(b)
c = tuple(b)
print(c)

('sam', 67, 3444, 'raj')
['sam', 600, 3444, 'raj']
('sam', 600, 3444, 'raj')

In [ ]:
a = ('sam' , 67 , 3444 , 'raj')
for i in range(len(a)):
    print(a[i])

sam
67
3444
raj

In [ ]:
a = ('sam' , 67 , 3444 , 'raj')
a.count('sam')

1

In [ ]:
a.index('raj')

3

# How can we create a user defiend tuple ?

In [ ]:
a = []
size = int(input("Enter size:"))
for i in range(size):
    val = int(input("Enter item:"))
    a.append(val)
# print(a)
b = tuple(a)
b

Enter size:2
Enter item:12
Enter item:4556

(12, 4556)